
.overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100%;

  & .container {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  & .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  ::-webkit-scrollbar { 
    display: none;
  }
}

#overlay-container {
  overflow-y: auto;
  height: 100%;

  @include mq('med'){
    overflow-y: hidden;
  }
}

.overlay-close {
  align-self: center;
  color: #fff;
  text-align: center;
  margin: 20px 20px 20px;
  z-index: 15;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 20px;
}

.card {
  font-family: 'Brandon Grotesque';
  font-size: 16px;
  border-radius: 0;
  padding: 0;
  width: 315px;
  height: 345px;
  border-left: none;
  border-right: none;
  margin: 0 15px 30px;
  line-height: 65px;
}

.card-img-top {
  display: block;
  object-fit: cover;
  border-radius: 0;
  max-width: 348px;
  height: 237px;
  margin: 0 auto;
}

.card-body {
  border-radius: 0;
  height: 70px;
  border-top: 1px solid $primary-font-color;
}

.overlay-header {
  display: flex;
  justify-content: center;
}

.projects {
  margin-top: 20px;
}