.photo {
  height: 599px;
  object-fit: cover;
  width: 100%;
  @include mq('med') {
    
    height: 100vh;
    max-height: 1365px;
  }
}

.photo-div {
  height: 599px;
  width: 100%;
  @include mq('med') {
    
    height: 100vh;
    max-height: 1365px;
  }
}