nav {
  width: 50%;
  overflow: hidden;
}

.navbar {
  padding: 8px 0;
  max-width: 1440px;
  margin:0 auto;
  align-content: flex-start;
}

.navbar-toggler {
  border: none;
  margin-top: 3px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  align-self: flex-start;
}

.navbar-nav {
  margin-left: 10px;
}

.navbar-collapse {
  margin-left: 16px;
}

.nav-item {
  margin-left: 25px;
  width: 80%;
  @include mq('med') {
  }
}